.product_img{
    width:164px;
    height:164px;
}

.product-image{
    object-fit: cover;
    object-position: center;
}

.qty-cart span{
    border-radius: 6px 2px 6px 2px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

/* .offer-badge-1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(246,151,51,0.2) !important;
    padding: 3px 10px;
    border-radius: 3px;
    line-height: 20px;
	text-transform: uppercase
} */
